{% load bootstrap3 %}   #1

<!DOCTYPE html>     #2
<html lang="en">    #3
    <head>          #4
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Learning Log</title>     #5

        (% bootstrap_css %)             #6
        (% bootstrap_javascript %)
    </head>     #7

    <body>
        <!-- Static navbar -->
            <nav class="navbar navbar-default navbar-static-top">   #11
                <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed"   #12
                            data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        </button>
                        <a class="navbar-brand" href="{% url 'learning_logs:index' %}">Learning Log</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">  #14
                        <ul class="nav navbar-nav">     #15
                            <li>
                                <a href="{% url 'learning_logs:topics' %}">Topics</a>     #16
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">    #17
                            {% if user.is_authenticated %}
                                <li><a>Hello, {{ user.username }}.</a></li>
                                <li><a href="{% url 'users:logout' %}">log out</a></li>
                            {% else %}
                                <li><a href="{% url 'users:register' %}">register</a></li>
                                <li><a href="{% url 'users:login' %}">log in</a></li>
                            {% endif %}
                        </ul>       #18
                    </div><!-- /.nav-collapse -->
                </div>
            </nav>
                <div class="container">     #21
                    <div class="page-header">
                        {% block header %} {% endblock header %}    #22
                    </div>
                    <div>
                        {% block content %} {% endblock content %}  #23
                    </div>
                </div> <! -- /container -->
    </body>
</html>

<!--"""-->
    <!--#定义HTML头部-->
    <!--#1、加载django-bootstrap3中的模版标签集-->
    <!--#2、将这个文件声明为使用英语 #3 编写的HTML文档 #2-->
    <!--# HTML文件分为两个主要部分，头部（head）和主体（body）-->
    <!--#4、头部始于此处，HTML文件的头部不包含任何内容：只是将正确显示页面所需的信息告诉浏览器-->
    <!--#5、title元素，浏览器打开网站"学习笔记"的页面时，浏览器的标题栏将显示该元素的内容-->
    <!--#6、使用django-bootstrap3的一个自定义模版标签，它让Django包含所有的Bootstrap样式文件-->
    <!--#标签启用你可能在页面中使用的所有交互式行为，如可折叠的导航栏-->
    <!--#7、结束标签-->

    <!--#定义导航栏-->
    <!--#第一个元素为起始标签<body>。HTML文件的主体包括用户将在页面上看到的内容-->
    <!--#11、<nav>元素，表示页面的导航链接部分。-->
    <!--#对于这个元素内的所有内容，都将根据选择器（selector）navbar、navbar-default和navbar-static-top定义的Bootstrap样式规则来设置样式-->
    <!--#选择器决定了特定样式规则将应用于页面上的哪些元素-->
    <!--#12、这个模版定义了一个按钮，它将在浏览器窗口太窄，无法水平显示整个导航栏时显示出来。-->
    <!--如果用户单击这个按钮，将出现一个下拉列表，其中包含所有的导航元素，在用户缩小浏览器窗口或在屏幕较小的移动设备商显示网站时，collapse会使导航栏折叠起来-->
    <!--navbar-brand - Learning Log、在导航栏的最左边显示项目名，并将其设置为到主页的链接，因此它将出现在这个项目的每个页面中-->
    <!--#14、定义了一组让用户能够在网站中导航的链接-->
    <!--#15、导航栏是一个以<ul> 打头的列表，每个链接都是一个列表项（<li>）-->
    <!--#要添加更多的链接，可插入更多使用下述结构的行-->
        <!--这行表示导航栏中的一个链接，这个链接是直接从base.html的前一个版本中复制而来的-->
    <!--#17、添加第二个导航链接列表，使用的选择器为navber-right，选择器navbar-right设置一组链接的样式，使其出现在导航栏右边，登录链接和注册链接通常出现在这里-->
    <!--#18、此处，要么显示问候语和注册链接，要么显示注册链接和登录链接，余下的代码结束包含导航栏的元素-->

    <!--#定义页面的主要部分-->
    <!--#21、是一个<div>起始标签，其class属性为container,div是网页的一部分，可用于任何目的，并可通过边框、元素周围的空间（外边距）、-->
    <!--#内容和边框之间的间距（内边距）、背景色和其他样式规则来设置其样式-->
    <!--#22、这个div是一个容器，其中包含两个元素：一个新增的名为header的块，以及content块 #23-->
    <!--#header块的内容告诉用户页面包含哪些信息以及用户可在页面上执行哪些操作；其class属性值page-header将一系列样式应用于这个块-->
    <!--#content块是一个独立的div，未使用class属性指定样式-->
<!--"""-->

