
<!--1、编写模版-->
<!--2、模版定义了网页的结构-->
<!--3、模版指定了网页是什么样的，而每当网页被请求时，Django将填入相关的数据-->
<!--4、模版让你能够访问视图提供的任何数据-->
<!--5、这个主页视图没有提供任何数据，因此相应的模版非常简单-->
<!--6、标签 p 标识段落，p 指出了段落的开头位置，/p 指出结束位置-->

{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}                  #1
    <div class='jumbotron'>         #2
        <h1>Track your learning.</h1>
    </div>
{% endblock header %}

{% block content %}
    <h2>    #3
        <a href="{% url 'users:register' %}">Register an account</a>
        To make your own Learning Log, and list the topics you're learning about.
    </h2>
    <h2>
        Whenever you learn something new about a topic, make an entry summarizing what you've learned.
    </h2>
{% endblock content %}

    <!--子模版的第一行必须包含标签 {% extends %，让Django知道它继承了哪个模版，让index.html能够指定要在content块预留的空间中添加的内容-->
    <!--插入名为content 的 {% block % 标签，以定义 content 块，不是从父模版继承的内容都包含在content 块中-->
    <!--使用标签 {% endblock content % 指出内容的结束位置-->

    <!--1、告诉Django，要定义header块包含的内容-->
    <!--2、在一个jumbottron元素中，放置一条标语-->
    <!--3、添加文本，做了详细说明-->
